*{
   
    padding: 0;
    margin: 0;
}

.page-container{
   
   height: 100%;
   /*background-color: rgb(226, 215, 198);*/
   background-color: aqua;
    
}
.input{
    display: block;
   
    width: 70%;
   text-align: center;
    padding: 10px;
    border-radius: 2px;
    font-weight: bolder;
    font-size: large;
    margin: 10px auto;
}

.btn{
   
    width: 70%;
    padding: 10px;
    border-radius: 5px;
 
    font-size: large;
    color: white;
    background-color: black;
}

#root{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    
}


.p a{
    color: black;
}

a{
    text-decoration: none;
    color: white;
   /* text-transform: uppercase;*/
}

.form{
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    text-align: center;
    padding: 100px 0;
}
.nav-container{
    margin-top: 0;
    text-align: left;
    background-color: rgb(226, 215, 198);
}

.login{
    padding: 100px 0;
}


.li{
    list-style: none;
    display: inline-block;
    border-radius: 4px;
    padding: 10px;
    background-color: black;
    border: 2px solid black;
    margin: 15px;
   
      
}
.sec{
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    margin: 10px;
}
.sec article{
    padding: 10px;
    border: 2px solid black;
    background-color: aliceblue;
    border-radius: 3px;
}

.intro{
    margin: 10px;
    padding: 20px;
    background-color: aliceblue;
}

.home-container{
    
   
}

.intro p{
    margin-top: 20px;
    
}

.footer{
    padding: 10px;
    margin: 30px;
    display: inline-block;
    color: white;
    background-color: black;
    margin-bottom: 5px;
}
.footer section{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
   margin-bottom: 5px;
}

.container{
    height: 100%;
}